.wrapper {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 10%;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.form a {
  margin-top: 10px;
  display: block;
  font-size: 20px;
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 30px;
}

.form .form-contain {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-contain label {
  font-size: 25px;
  margin-bottom: 5px;
}

.form-contain input {
  padding: 10px;
  outline: none;
  font-size: 20px;
}

.form button {
  width: 100%;
  display: block;
  padding: 10px 0;
  font-size: 25px;
  background: orange;
  color: white;
  border: none;
}
